<!DOCTYPE>
<html>
<head>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="static/css/style.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" />
	<link id="theme-style" rel="stylesheet" type="text/css" href="">
	<script src="https://kit.fontawesome.com/3b144e529a.js" crossorigin="anonymous"></script>
	<link href="https://fonts.googleapis.com/css2?family=Just+Me+Again+Down+Here&family=Noto+Sans+HK&family=Permanent+Marker&display=swap" rel="stylesheet">


	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1" />

</head>
<title>JDRB Portfolio</title>

<body>

	<section class="s1">
		<div class="main-container">
			<div class="dropdown">
				
				<div class="dropbtn">
					<i class="fa fa-solid fa-plus"></i>
				</div>
				<div class="dropdown-content">
					<a class="media-icon" href="">
						<i class=" fa fa-brands fa-github" ></i>
					</a>
					<a class="media-icon" href="">
						<i class="fa fa-brands fa-linkedin"></i>
					</a>
					<a class="media-icon" href="">
						<i class="fa fa-brands fa-whatsapp"></i>
					</a>
				</div>
			  </div>
			<div class="greeting-wrapper">
				<h1>Hey, I'm Juan David Rondon</h1>
			</div>



			<div class="intro-wrapper">
				<div class="nav-wrapper">
					<div class="dots-wrapper">
						<div id="dot-1" class="browser-dot">
							
						</div>
						<div id="dot-2" class="browser-dot">
							
						</div>
						<div id="dot-3" class="browser-dot">
							
						</div>
					</div>

					<ul id="navigation">
						<li><a href="#">Contact</a></li>
					</ul>
				</div>

				<div class="left-column">
					<img id="profile-pic" src="static/images/myFoto.JPG">
					<h5 style="text-align: center; line-height: 0;">Personalize Theme</h5>

					<div id="theme-options-wrapper">
						<div data-mode="light" id="light-mode" class="theme-dot"></div>
						<div data-mode="black" id="black-mode" class="theme-dot"></div>
						<div data-mode="green" id="green-mode" class="theme-dot"></div>
						<div data-mode="blue" id="blue-mode" class="theme-dot"></div>
					</div>
				</div>

				<div class="right-column">

					<div id="preview-shadow">
						<div id="preview">
								<h3>What I Do</h3>
								<p></p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section class="s2">
		<div class="main-container">
			<div class="about-wrapper">
				<div class="about-me">
					<h4>About Me</h4>
					<p></p>

					<p></p>

					

					<h4>TOP EXPERTISE</h4>
					<p>Fullstack developer with primary focus on Django + React:</p>

					<div id="skills">
						<ul>
							<li>-Python</li>
							<li>-Django</li>
							<li>-JavaScript</li>
							<li>-React</li>
							<li>-AWS(S3/RDS)</li>
						</ul>
						<ul>
							<li>-PostgreSQL</li>
							<li>-Heroku</li>
							<li>-HTML</li>
							<li>-CSS</li>
							<li>-SQL	</li>
						</ul>
					</div>
				</div>

				

				<div class="social-links">
					<h1>🏐Hobbies🎸 </h1>
					
					<img id="social_img" src="static/images/instagram.png">
					<h5>Find Me on Instagram!</h5><a target="_blank" href="https://www.instagram.com/juandavidrondon/">@juandavidrondon</a>
				</div>
			</div>
		</div>
	</section>


<section class="s1">
		<div class="main-container">
			<h3 style="text-align: center;">Some of My Work</h3>

			<div class="post-wrapper">

				<div>
					<div class="post">
						<img class="thumbnail" src="static/images/altix.png">
						<div class="post-preview">
							<h6 class="post-title"></h6>
							<p class="post-intro"></p>
							<a href="post.html">View More</a>
						</div>
					</div>
				</div>

				<div>
					<div class="post">
						<img class="thumbnail" src="images/presets.JPG">
						<div class="post-preview">
							<h6 class="post-title"></h6>
							<p class="post-intro"></p>
							<a href="altix.co">View More</a>
						</div>
					</div>
				</div>


				<div>
					<div class="post">
						<img class="thumbnail" src="images/filter.JPG">
						<div class="post-preview">
							<h6 class="post-title"></h6>
							<p class="post-intro"></p>
							<a href="post.html">Read More</a>
						</div>
					</div>
				</div>

			</div>
		</div>
	</section>

	<section class="s2">
		<div class="main-container">
			<h3 style="text-align: center;">Send a Message</h3>
			<form id="contact-form">
				<label>Name</label>
				<input class="input-field" type="text" color='white' name="name">

				<label>Subject</label>
				<input class="input-field" type="text" name="subject">

				<label>Email</label>
				<input class="input-field" type="text" name="email">

				<label>Message</label>
				<textarea class="input-field" name="message"></textarea>

				<input id="submit-btn" type="submit" value="Send">
				
			</form>
		</div>
	</section>
	


<script type="text/javascript" src="static/js/script.js"></script>
</body>
</html>